@media screen and (max-width:1200px) and (min-width:994px) {
    .sub{
        width: 100%;
        order: 2;
    }
    .footer .container{
        width: 80%;
    }
    .contact .container{
        width: 80%;
    }
    .footer .about-foot,.foot-det{
        width: 48%;
        }
}
@media screen and (max-width:994px) and (min-width:770px){
    .home .container{
        flex-direction: column-reverse;
        gap: 50px;
            
    }
    .home{
        padding: 15% 0;
    }
    .home-content{
        width: 100%;
        display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
    .home-img{
        width:100% ;
    }
    .chefs-cards .card{
        width: 48%;
    }
    .chefs-cards{
        justify-content: center;
    }
    .sub{
        width: 100%;
        order: 2;
    }
    .footer .container{
        width: 80%;
    }
    .contact .details{
        justify-content: center;
    }
    .form .input input {
        width: 100%;
    }
    .contact .container{
        width: 80%;
    }
    .footer .about-foot,.foot-det{
        width: 48%;
        }
}
@media screen and (max-width:770px) and (min-width:200px){
    .home .container{
        flex-direction: column-reverse;
        gap: 50px;
        width: 65%;
    }
    .home{
        padding: 52% 0 15% 0;
    }
    .chefs-cards{
        justify-content: center;
    }
    .home-content{
        width: 100%;
        display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
    .home-img{
        width:100% ;
    }
    .chefs-cards .card{
        width: 100%;
    }
    .gallary .container{
        width: 90%;
    }
    .details .adress{
        width: 100%;
    }
    .form .input input{
        width: 100%;
    }
    .coulm{
        flex: 48%;
        max-width: 100%;
    }
    .sub{
        width: 100%;
        order: 2;
    }
    .footer .container{
        width: 80%;
    }
    .contact .container{
        width: 80%;
    }
    .footer .about-foot,.foot-det{
        width: 48%;
        }
}